@font-face {
  font-family: "font1";
  src: url("font_1.ttf");
}

@font-face {
  font-family: "font2";
  src: url("font2.ttf");
}

html,
body {
  font-size: calc(6px + 0.350625vw);
  overflow-x: hidden !important;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-80 {
  width: 80% !important;
}

body {
  color: white;
  background-color: #1f2122;
  background: #1f2122;
  font-family: "font1";
}

h1 {
  font-size: 5.3rem;
  font-family: "font2";
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 2.25rem;
  text-align: justify;
  text-justify: inter-word;
}

nav {
  backdrop-filter: blur(5px);
}

.nav-link {
  font-size: 1.875rem;
  color: white !important;
}

.about-header {
  color: #bf4046;
  font-size: 4rem;
  font-family: "font2";
}

h3 {
  font-size: 2.5rem;
  font-family: "font2";
  text-align: start;
  width: 55rem;
  font-size: 4rem;
  line-height: 7rem;
  border-bottom: 1px solid #ffffff;
}

.trabajo-numero {
  font-size: 3rem;
  font-family: "font1";
  text-align: start;
  left: 10vh;
  transform: rotate(-90deg) translate(-50%, -50%);
  font-weight: 100;

}


.contact{
  width: fit-content !important;
  font-size: 2.25rem;
  color: white;
}

a{
  color: white
}